#youtube
API_KEY=
CHANNEL_HANDLE=
PLAYLIST_ID=

#postgresSQL
POSTGRES_CONN_HOST=
POSTGRES_CONN_PORT=
POSTGRES_CONN_USERNAME=
POSTGRES_CONN_PASSWORD=

#airflow metadata database
METADATA_DATABASE_NAME=
METADATA_DATABASE_USERNAME=
METADATA_DATABASE_PASSWORD=

#ELT database
ELT_DATABASE_NAME=
ELT_DATABASE_USERNAME=
ELT_DATABASE_PASSWORD=

#airflow
AIRFLOW_UID=
AIRFLOW_WWW_USER_USERNAME=
AIRFLOW_WWW_USER_PASSWORD=

#airflow encryption
FERNET_KEY=